<article>
	<header>
		<h3><%= @post.title %></h3>
	</header>
	<div class="body">
		<%= @post.body %>
	</div>
	<div class="meta">
		<small>Escrito: <time><%= @post.created_at %></time></small>
	</div>
</article>


<h2>Comentarios</h2>

<% @comments.each do |com| %>
<article>
	<span class="author"><strong><%= com.name %></strong></span>: <%= com.comment %>
	<div class="meta"><time><%= com.created_at %></time></div>
</article>
<% end %>


<h2>Comentar</h2>

<form action="/blog/<%= @post.id %>" method="post">

	<input type="text" id="name" name="name" placeholder="Tu nombre" />
	<br />
	<textarea id="comment" name="comment" placeholder="Comentario"></textarea>
	<br />
	<input type="submit" value="Comentar" />

</form>